.box {
  box-sizing: border-box;
  width: 5rem;
  height: 5rem;
  border: 3px solid #000;
}

.vermelho {
  background-color: red;
  border-width: 0.5rem;
  border-bottom-width: 0;
}

.azul {
  background-color: blue;
  border-width: 10px 0 5px 3px;
}

.verde {
  background-color: green;
}
