.box {
  box-sizing: border-box;
  width: 5rem;
  height: 5rem;
  border: 0.3rem solid yellow;
  padding: 0.7rem;
  margin: 10px 0 5px 10px;
}

.vermelho {
  background-color: red;
  margin-top: 0px;
}

.azul {
  background-color: blue;
  margin-bottom: 50px;
}

.verde {
  background-color: green;
  margin-left: 0;
}
